/**
 * @package 	WordPress
 * @subpackage 	Whiskers
 * @version 	1.0.4
 * 
 * WooCommerce CSS Rules
 * Created by CMSMasters
 * 
 */
/*-------------------------------------------------------------------------*/
/* Global Styles
/*-------------------------------------------------------------------------*/
/* Icons */
.cmsmasters_theme_icon_basket:before {
  content: '\e834';
}
.cmsmasters_theme_icon_star_empty:before {
  content: '\e8aa';
}
.cmsmasters_theme_icon_star_full:before {
  content: '\e8aa';
}
.woocommerce:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
.woocommerce-page .content_wrap.fullwidth {
  padding-top: 0;
  padding-bottom: 40px;
}
.woocommerce-store-notice {
  display: block;
  width: 100%;
  margin: 0;
  padding: 10px 50px 10px 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 99999;
}
.woocommerce-store-notice p {
  margin: 0;
  padding: 0;
}
.woocommerce-store-notice p a {
  opacity: 0.8;
}
.woocommerce-store-notice p a:hover {
  opacity: 1;
}
.woocommerce-store-notice .woocommerce-store-notice__dismiss-link {
  font-size: 13px;
  line-height: 1em;
  width: 20px;
  height: 20px;
  margin: auto;
  position: absolute;
  left: auto;
  right: 20px;
  top: 0;
  bottom: 0;
}
.woocommerce-store-notice .woocommerce-store-notice__dismiss-link:before {
  width: 1em;
  height: 1em;
  margin: auto !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.woocommerce-store-notice .woocommerce-store-notice__dismiss-link:hover {
  opacity: 0.8;
}
.product .preloader {
  padding-bottom: 100%;
}
.product .preloader img {
  width: 100%;
  min-width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
/* Star Rating */
.cmsmasters_star_rating {
  width: 73px;
  height: 12px;
  display: block;
  position: relative;
  overflow: hidden;
}
.cmsmasters_star_rating .cmsmasters_star {
  font-size: 12px;
  width: 13px;
  height: 100%;
  display: block;
  margin-left: 2px;
  margin-right: 0;
  position: relative;
  overflow: hidden;
  float: left;
}
.cmsmasters_star_rating .cmsmasters_star:first-child {
  margin-left: 0;
}
.cmsmasters_star_rating .cmsmasters_star:before {
  width: 1em;
  height: 1em;
  margin: auto !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.cmsmasters_star_rating .cmsmasters_star_trans_wrap {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.cmsmasters_star_rating .cmsmasters_star_color_wrap {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.cmsmasters_star_rating .cmsmasters_star_color_inner {
  width: 73px;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.comment-form-rating {
  position: relative;
  overflow: hidden;
}
.comment-form-rating .stars > span {
  display: block;
  width: 65px;
  height: 14px;
  position: relative;
  overflow: hidden;
}
.comment-form-rating .stars > span:before,
.comment-form-rating .stars > span a:before {
  font-family: "fontello";
  line-height: 1em;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-align: center;
  vertical-align: baseline;
  font-variant: normal;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  text-indent: 0;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.comment-form-rating .stars > span:before {
  content: '\e8aa\e8aa\e8aa\e8aa\e8aa';
}
.comment-form-rating .stars > span a:before {
  content: '\e8aa\e8aa\e8aa\e8aa\e8aa';
}
.comment-form-rating .stars > span a {
  color: transparent;
  text-indent: 9999px;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.comment-form-rating .stars > span a.star-1 {
  width: 13px;
  z-index: 10;
}
.comment-form-rating .stars > span a.star-2 {
  width: 26px;
  z-index: 9;
}
.comment-form-rating .stars > span a.star-3 {
  width: 39px;
  z-index: 8;
}
.comment-form-rating .stars > span a.star-4 {
  width: 52px;
  z-index: 7;
}
.comment-form-rating .stars > span a.star-5 {
  width: 65px;
  z-index: 6;
}
/* Sale */
.onsale,
.out-of-stock,
.stock {
  padding: 7px 25px;
  position: absolute;
  left: auto;
  right: 15px;
  top: 15px;
  bottom: auto;
  z-index: 10;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  overflow: hidden;
}
.outofstock .onsale {
  display: none;
}
/* checkbox and radio */
label > .input-checkbox,
label > .input-radio,
label > input.shipping_method {
  float: none;
  width: auto;
  height: auto;
  position: relative;
  left: auto;
  top: auto;
  bottom: auto;
  opacity: 1;
}
.input-checkbox,
.input-radio,
input.shipping_method:not([type=hidden]) {
  float: left;
  opacity: 0;
  width: 1em;
  height: 1em;
  margin: auto !important;
  position: absolute;
  left: 0;
  right: auto;
  top: 0;
  bottom: 0;
}
.input-checkbox + label,
.input-radio + label,
input.shipping_method:not([type=hidden]) + label {
  display: inline-block;
  padding: 0 0 0 25px;
  position: relative;
  cursor: pointer;
}
.input-checkbox + label:before,
.input-radio + label:before,
input.shipping_method:not([type=hidden]) + label:before {
  content: '';
  border-width: 1px;
  border-style: solid;
  width: 17px;
  height: 17px;
  margin: auto !important;
  position: absolute;
  left: 1px;
  right: auto;
  top: 0;
  bottom: 0;
}
.input-checkbox + label:after,
.input-radio + label:after,
input.shipping_method:not([type=hidden]) + label:after {
  content: '';
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);
  width: 9px;
  height: 9px;
  margin: auto !important;
  position: absolute;
  left: 5px;
  right: auto;
  top: 0;
  bottom: 0;
  opacity: 0;
}
.input-checkbox:checked + label:after,
.input-radio:checked + label:after,
input.shipping_method:not([type=hidden]):checked + label:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
label.checkbox {
  display: inline-block;
  padding: 0 0 0 25px;
}
label.checkbox + input {
  visibility: visible;
  opacity: 1;
}
.input-radio + label:before,
input.shipping_method + label:before,
.input-radio + label:after,
input.shipping_method + label:after {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* Shipping */
#shipping_method {
  padding: 0;
  margin: 0;
}
#shipping_method li {
  overflow: hidden;
}
#shipping_method li:before {
  content: none;
}
#shipping_method + p {
  padding: 20px 0 0;
}
.woocommerce-message,
.woocommerce-info,
.woocommerce-error {
  padding: 25px 25px;
  margin-bottom: 40px;
  float: none;
  position: relative;
  clear: both;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
}
.woocommerce-message .button,
.woocommerce-info .button,
.woocommerce-error .button {
  margin-right: 30px;
}
.woocommerce-error li {
  padding: 0;
  margin: 0;
}
.woocommerce-error li:before {
  content: none;
}
/* Quantity */
.quantity {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.quantity .screen-reader-text {
  display: none;
}
.quantity .text {
  display: block;
  width: 80px;
  min-width: 0;
}
/* Variation */
.variations_form.cart {
  padding: 10px 0 13px;
  position: relative;
}
table.variations {
  margin: 0 0 20px;
}
table.variations tr td {
  padding: 15px 0 0;
  border-width: 0 !important;
}
table.variations tr td:first-child {
  min-width: 50px;
}
table.variations tr:first-child td {
  padding: 0;
}
table.variations tr:last-child td {
  padding-bottom: 0;
}
table.variations .reset_variations {
  display: inline-block;
  margin: 0 0 0 15px;
  padding: 0 30px;
  position: relative;
  text-align: center;
  border-width: 2px;
  border-style: solid;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}
.single_variation_wrap {
  position: relative;
}
.single_variation_wrap .woocommerce-variation-description {
  border: 0 !important;
}
.single_variation_wrap .woocommerce-variation-description > *:last-child {
  margin: 0;
  padding: 0;
}
.single_variation_wrap .single_variation {
  margin: 0;
  position: relative;
  overflow: hidden;
}
.single_variation_wrap .single_variation > * {
  position: relative;
  overflow: hidden;
}
.single_variation_wrap .single_variation .woocommerce-variation-description,
.single_variation_wrap .single_variation .woocommerce-variation-price .price,
.single_variation_wrap .single_variation .stock {
  margin: 0 0 20px;
}
.single_variation_wrap .single_variation .woocommerce-variation-price .price {
  display: block;
}
.single_variation_wrap .single_variation .stock {
  display: inline-block !important;
  vertical-align: middle;
  position: static;
}
.single_variation_wrap .variations_button {
  margin: 20px 0 0;
}
dl.variation {
  display: block;
  padding: 0;
  overflow: hidden;
}
dl.variation:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
dl.variation dt,
dl.variation dd,
dl.variation p {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
dl.variation dt {
  padding-left: 0;
  padding-right: 10px;
  float: left;
  clear: left;
}
dl.variation dd {
  float: left;
}
/* Col2-set */
.col2-set {
  margin: 0 -1.7% 30px;
  position: relative;
  overflow: hidden;
}
.col2-set > * {
  width: 46.6%;
  margin: 0 1.7%;
  position: relative;
  float: left;
}
/* Form Row Styles */
.form-row {
  width: 46.6%;
  margin: 0 1.7%;
  position: relative;
  float: left;
}
.form-row:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
.form-row.form-row-wide,
.form-row.notes,
.form-row.place-order {
  width: 96.6%;
  float: none;
  clear: both;
}
.form-row.place-order {
  width: auto;
  margin: 0;
}
.form-row label {
  display: block;
  padding: 0 0 5px;
}
.form-row select,
.form-row input,
.form-row textarea {
  width: 100%;
  max-width: 100%;
}
.form-row textarea {
  min-height: 200px;
}
.form-row input[type="checkbox"],
.form-row input[type="radio"],
.form-row input[type="submit"],
.form-row input[type="button"] {
  width: auto;
}
/* Amount Styles */
.amount {
  white-space: nowrap;
}
.amount span {
  display: inline-block;
  vertical-align: bottom;
}
/* Remove Button Styles */
#page .remove {
  font-size: 16px;
  line-height: 26px;
  font-weight: bold;
  text-indent: 1px;
  display: inline-block;
  width: 26px;
  height: 26px;
  margin: 0 1px;
  text-align: center;
}
/*-------------------------------------------------------------------------*/
/* Shop Page
/*-------------------------------------------------------------------------*/
.cmsmasters_woo_wrap_result {
  padding: 0 0 50px;
  position: relative;
  overflow: hidden;
  clear: both;
}
.cmsmasters_woo_wrap_result select {
  width: 100%;
  max-width: 100%;
}
.cmsmasters_woo_wrap_result .woocommerce-result-count {
  padding: 9px 0 9px 10px;
  float: right;
}
.cmsmasters_woo_wrap_result .woocommerce-ordering {
  float: left;
}
.cmsmasters_products {
  margin: -40px -1.7% 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}
.cmsmasters_products .product {
  width: 21.6%;
  margin: 0 1.7%;
  padding: 50px 0 0;
  position: relative;
  word-wrap: break-word;
  overflow: hidden;
  float: left;
}
.cmsmasters_products .product:before {
  content: none;
}
.cmsmasters_products .product.product-category img {
  margin-bottom: 15px;
}
.cmsmasters_products .product.product-category .woocommerce-loop-category__title {
  margin-bottom: 0;
}
.cmsmasters_products .product.product-category .woocommerce-loop-category__title .count {
  background: transparent;
}
.columns-6.cmsmasters_products .product {
  width: 13.1%;
}
.columns-6.cmsmasters_products .product:nth-child(6n+1) {
  clear: left;
}
.columns-5.cmsmasters_products .product {
  width: 16.6%;
}
.columns-5.cmsmasters_products .product:nth-child(5n+1) {
  clear: left;
}
.columns-4.cmsmasters_products .product {
  width: 21.6%;
}
.columns-4.cmsmasters_products .product:nth-child(4n+1) {
  clear: left;
}
.columns-3.cmsmasters_products .product {
  width: 29.93%;
}
.columns-3.cmsmasters_products .product:nth-child(3n+1) {
  clear: left;
}
.columns-2.cmsmasters_products .product {
  width: 46.6%;
}
.columns-2.cmsmasters_products .product:nth-child(2n+1) {
  clear: left;
}
.columns-1.cmsmasters_products .product {
  width: 96.6%;
  float: none;
  clear: both;
}
.cmsmasters_product {
  border-color: transparent;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}
.cmsmasters_product:hover .cmsmasters_product_add_wrap {
  visibility: visible;
  opacity: 1;
}
.cmsmasters_product:hover .cmsmasters_product_add_wrap + .cmsmasters_product_header {
  opacity: 0;
  visibility: hidden;
}
.cmsmasters_product .cmsmasters_product_img {
  position: relative;
  overflow: hidden;
}
.cmsmasters_product .cmsmasters_product_img img {
  width: 100%;
}
.cmsmasters_product .cmsmasters_product_img:hover img {
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  transform: scale(1.03);
}
.cmsmasters_product .cmsmasters_product_inner {
  padding: 15px 20px 38px;
  position: relative;
  overflow: hidden;
}
.cmsmasters_product .cmsmasters_product_add_wrap {
  width: 100%;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  text-align: center;
}
.cmsmasters_product .button {
  display: inline-block;
  padding: 0;
  background: transparent;
  border-width: 0;
  border-style: solid;
}
.cmsmasters_product .button:last-child {
  margin: 0;
}
.cmsmasters_product .button.added_to_cart {
  display: none;
}
.cmsmasters_product .button.added {
  display: none;
}
.cmsmasters_product .button.added + .added_to_cart {
  display: block;
}
.cmsmasters_product .button.loading {
  text-indent: -9999px;
}
.cmsmasters_product .button.loading:before {
  content: '\e9fd';
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  vertical-align: baseline;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  font-size: 16px;
  text-indent: 0;
  width: 1em;
  height: 1em;
  margin: auto !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.cmsmasters_product .cmsmasters_product_info {
  padding: 0 0 3px;
  text-align: center;
  overflow: hidden;
}
.cmsmasters_product .price {
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.cmsmasters_product .price del {
  white-space: nowrap;
  float: right;
}
.cmsmasters_product .price ins {
  margin: 0 10px 0 0;
  text-decoration: none;
  white-space: nowrap;
  float: left;
}
.cmsmasters_product .cmsmasters_product_header_wrap {
  position: relative;
}
.cmsmasters_product .cmsmasters_product_header {
  padding-bottom: 5px;
}
.cmsmasters_product .cmsmasters_product_title {
  margin: 0;
  text-align: center;
}
.cmsmasters_product .cmsmasters_product_cat {
  overflow: hidden;
  text-align: center;
}
.cmsmasters_product .cmsmasters_star_rating {
  margin: 10px auto 0;
}
/*-------------------------------------------------------------------------*/
/* Single Product
/*-------------------------------------------------------------------------*/
.cmsmasters_single_product {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}
.cmsmasters_single_product .onsale,
.cmsmasters_single_product .out-of-stock {
  left: 10px;
  right: auto;
  top: 10px;
  bottom: auto;
}
.cmsmasters_single_product .cmsmasters_product_left_column {
  width: 43.1%;
  position: relative;
  float: left;
  overflow: hidden;
}
.cmsmasters_single_product .cmsmasters_product_images {
  position: relative;
  overflow: hidden;
}
.cmsmasters_single_product .cmsmasters_product_image {
  display: block;
  max-width: 100%;
  position: relative;
  text-align: center;
}
.cmsmasters_single_product .cmsmasters_product_image img {
  width: 100%;
  height: auto;
  max-width: 100%;
}
.cmsmasters_single_product .cmsmasters_product_thumbs {
  display: block;
  margin: 0 -5px;
  position: relative;
  overflow: hidden;
}
.cmsmasters_single_product .cmsmasters_product_thumbs .cmsmasters_product_thumb {
  display: block;
  width: 82px;
  margin: 10px 5px 0;
  position: relative;
  text-align: center;
  float: left;
}
.cmsmasters_single_product .cmsmasters_product_thumbs .cmsmasters_product_thumb img {
  width: 100%;
}
.cmsmasters_single_product .cmsmasters_product_right_column {
  width: 56.9%;
  padding: 0 0 0 40px;
  position: relative;
  float: right;
  overflow: hidden;
}
.cmsmasters_single_product .cmsmasters_product_right_column .out-of-stock {
  display: none;
}
.cmsmasters_single_product .cmsmasters_product_title_wrap {
  padding: 0 0 45px;
  position: relative;
  overflow: hidden;
}
.cmsmasters_single_product .product_title {
  margin: 0 0 10px;
}
.cmsmasters_single_product .cmsmasters_star_rating {
  width: 73px;
  height: 13px;
  margin: 0 0 25px;
}
.cmsmasters_single_product .cmsmasters_star_rating .cmsmasters_star {
  font-size: 13px;
  width: 13px;
  margin: 0 0 0 2px;
}
.cmsmasters_single_product .cmsmasters_star_rating .cmsmasters_star:first-child {
  margin: 0;
}
.cmsmasters_single_product .cmsmasters_star_rating .cmsmasters_star_color_inner {
  width: 73px;
}
.cmsmasters_single_product .price {
  margin: 0;
  padding: 0;
}
.cmsmasters_single_product .price .amount span {
  margin: 0 2px 0 0;
}
.cmsmasters_single_product .price del {
  margin: 0 3px 0 0;
  vertical-align: middle;
}
.cmsmasters_single_product .price ins {
  text-decoration: none;
  vertical-align: middle;
}
.cmsmasters_single_product .cmsmasters_product_content {
  position: relative;
  overflow: hidden;
}
.cmsmasters_single_product .cart {
  position: relative;
}
.cmsmasters_single_product .cart .single_add_to_cart_button {
  vertical-align: middle;
}
.cmsmasters_single_product .cart .quantity {
  margin: 0 16px 0 0;
}
.cmsmasters_single_product .cart.grouped_form .quantity {
  margin: 0;
}
.cmsmasters_single_product .product_meta {
  padding: 17px 0 0;
  position: relative;
  overflow: hidden;
}
.cmsmasters_single_product .product_meta > span {
  display: block;
}
.cmsmasters_woo_tabs {
  margin: 85px 0 0;
  overflow: hidden;
}
.cmsmasters_woo_tabs .cmsmasters_tab_inner > h2 {
  display: none;
}
.shop_attributes {
  margin: -20px 0 0;
}
.shop_attributes > thead:first-child tr:first-child th,
.shop_attributes > tbody:first-child tr:first-child th,
.shop_attributes > tfoot:first-child tr:first-child th,
.shop_attributes > thead:first-child tr:first-child td,
.shop_attributes > tbody:first-child tr:first-child td,
.shop_attributes > tfoot:first-child tr:first-child td {
  border-top-width: 0;
  border-top-style: solid;
}
.shop_attributes tbody tr:first-child th,
.shop_attributes tbody tr:last-child th {
  padding: 8px 20px 8px 0;
  border-left-width: 0;
  border-left-style: solid;
  border-right-width: 0;
  border-right-style: solid;
}
.shop_attributes tbody tr:first-child td,
.shop_attributes tbody tr:last-child td {
  padding: 8px 0;
  border-left-width: 0;
  border-left-style: solid;
  border-right-width: 0;
  border-right-style: solid;
}
.shop_attributes tbody tr th,
.shop_attributes tbody tr td {
  border-left-width: 0;
  border-left-style: solid;
  border-right-width: 0;
  border-right-style: solid;
  border-left-width: 0 !important;
}
.shop_attributes th {
  width: 190px;
  padding: 8px 20px 8px 0;
  border-top-width: 1px;
  border-top-style: solid;
}
.shop_attributes td {
  padding: 8px 0;
  border-top-width: 1px;
  border-top-style: solid;
}
.shop_attributes p {
  margin: 0;
  padding: 0;
}
.cmsmasters_woo_comments {
  margin: 0;
  padding: 15px 0 0;
}
.cmsmasters_woo_comments .post_comments_title {
  text-align: left;
}
.cmsmasters_woo_comments .commentlist > li:first-child {
  padding: 50px 0 0;
}
.cmsmasters_woo_comments .commentlist .comment {
  padding: 60px 0 0;
}
.cmsmasters_woo_comments .cmsmasters_comment_item_avatar_wrap {
  margin: 0 35px 0 0;
}
.cmsmasters_woo_comments .cmsmasters_comment_item_cont_info {
  margin: -3px 0 10px;
  position: relative;
  text-align: right;
  overflow: hidden;
}
.cmsmasters_woo_comments .cmsmasters_comment_item_title {
  float: left;
}
.cmsmasters_woo_comments .cmsmasters_comment_item_date {
  display: inline-block;
  vertical-align: middle;
}
.cmsmasters_woo_comments .cmsmasters_star_rating {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 12px;
}
.cmsmasters_woo_comments .cmsmasters_comment_item_content .star-rating {
  display: none;
}
.comment-respond .stars {
  padding: 10px 0;
}
.comment-respond .stars > span {
  margin: 0 auto;
}
section.products {
  margin: 35px 0 0;
  padding: 35px 0 0;
  position: relative;
  overflow: hidden;
}
section.products:before {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  top: 0;
}
section.products > h2 {
  margin: 0;
  padding: 0 0 25px;
}
.page-description {
  margin: 0 -1.7%;
}
/*-------------------------------------------------------------------------*/
/* Cart
/*-------------------------------------------------------------------------*/
.shop_table {
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;
  margin: 0 0 105px;
  position: relative;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  /* Variation - Border Radius Start */
  /* Variation - Border Radius Finish */
}
.shop_table thead,
.shop_table tr {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.shop_table tbody tr:first-child td {
  padding-top: 19px;
}
.shop_table tbody tr:last-child td {
  padding-bottom: 19px;
}
.shop_table th,
.shop_table td {
  vertical-align: middle;
  position: relative;
  text-align: left;
  border-top-width: 0;
  border-top-style: solid;
  border-right-width: 0;
  border-right-style: solid;
  border-left-width: 0;
  border-left-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.shop_table th {
  padding: 17px 0;
}
.shop_table td {
  padding: 19px 0;
}
.shop_table:not(.cart) th {
  padding: 17px 25px;
}
.shop_table:not(.cart) td {
  padding: 19px 25px;
}
.shop_table thead th {
  border-bottom-width: 0;
  border-bottom-style: solid;
}
.shop_table thead th:first-child {
  -webkit-border-radius: 8px 0 0 0;
  border-radius: 8px 0 0 0;
}
.shop_table thead th:last-child {
  -webkit-border-radius: 0 8px 0 0;
  border-radius: 0 8px 0 0;
}
.shop_table tfoot tr:last-child td:first-child,
.shop_table tfoot tr:last-child th:first-child {
  -webkit-border-radius: 0 0 0 8px;
  border-radius: 0 0 0 8px;
}
.shop_table tfoot tr:last-child td:last-child,
.shop_table tfoot tr:last-child th:last-child {
  -webkit-border-radius: 0 0 8px 0;
  border-radius: 0 0 8px 0;
}
.shop_table tfoot tr td,
.shop_table tfoot tr th {
  padding: 17px 38px;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.shop_table tfoot tr td:first-child,
.shop_table tfoot tr th:first-child,
.shop_table tfoot tr td:last-child,
.shop_table tfoot tr th:last-child {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.shop_table thead:last-child tr:last-child th:first-child,
.shop_table thead:last-child tr:last-child td:first-child {
  -webkit-border-radius: 8px 0 0 8px;
  border-radius: 8px 0 0 8px;
}
.shop_table thead:last-child tr:last-child th:last-child,
.shop_table thead:last-child tr:last-child td:last-child {
  -webkit-border-radius: 0 8px 8px 0;
  border-radius: 0 8px 8px 0;
}
.shop_table caption + tbody tr:first-child th:first-child,
.shop_table tbody:first-child tr:first-child th:first-child,
.shop_table caption + tbody tr:first-child td:first-child,
.shop_table tbody:first-child tr:first-child td:first-child {
  -webkit-border-radius: 8px 0 0 0;
  border-radius: 8px 0 0 0;
}
.shop_table caption + tbody tr:first-child th:last-child,
.shop_table tbody:first-child tr:first-child th:last-child,
.shop_table caption + tbody tr:first-child td:last-child,
.shop_table tbody:first-child tr:first-child td:last-child {
  -webkit-border-radius: 0 8px 0 0;
  border-radius: 0 8px 0 0;
}
.shop_table thead:last-child tr:last-child th:first-child,
.shop_table tbody:last-child tr:last-child th:first-child,
.shop_table thead:last-child tr:last-child td:first-child,
.shop_table tbody:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 8px;
  border-radius: 0 0 0 8px;
}
.shop_table thead:last-child tr:last-child th:last-child,
.shop_table tbody:last-child tr:last-child th:last-child,
.shop_table thead:last-child tr:last-child td:last-child,
.shop_table tbody:last-child tr:last-child td:last-child {
  -webkit-border-radius: 0 0 8px 0;
  border-radius: 0 0 8px 0;
}
.shop_table tfoot:first-child tr:first-child td:first-child,
.shop_table caption + tfoot tr:first-child td:first-child {
  -webkit-border-radius: 8px 0 0 8px;
  border-radius: 8px 0 0 8px;
}
.shop_table tfoot:first-child tr:first-child td:last-child,
.shop_table caption + tfoot tr:first-child td:last-child {
  -webkit-border-radius: 0 8px 8px 0;
  border-radius: 0 8px 8px 0;
}
.shop_table.order_details,
.shop_table.woocommerce-checkout-review-order-table {
  margin: 0 0 45px;
}
.shop_table.order_details th,
.shop_table.woocommerce-checkout-review-order-table th,
.shop_table.order_details td,
.shop_table.woocommerce-checkout-review-order-table td {
  border-bottom-width: 0;
  border-bottom-style: solid;
}
.shop_table.order_details tbody .product-name,
.shop_table.woocommerce-checkout-review-order-table tbody .product-name {
  border-right-width: 1px;
  border-right-style: solid;
}
.shop_table.order_details tfoot tr th,
.shop_table.woocommerce-checkout-review-order-table tfoot tr th {
  border-right-width: 1px;
  border-right-style: solid;
}
.shop_table.woocommerce-checkout-review-order-table .order-total th,
.shop_table.woocommerce-checkout-review-order-table .order-total td {
  border-top-width: 1px;
  border-top-style: solid;
}
.shop_table.order_details td.woocommerce-table__product-name ul {
  padding: 5px 0 0;
}
.shop_table.order_details td.woocommerce-table__product-name ul:last-child {
  margin: 0;
}
.shop_table.order_details td.woocommerce-table__product-name li {
  padding: 0;
}
.shop_table.order_details td.woocommerce-table__product-name li:before {
  content: none;
}
.shop_table.order_details td.woocommerce-table__product-name li > strong,
.shop_table.order_details td.woocommerce-table__product-name li > p {
  display: inline-block;
  vertical-align: middle;
}
.shop_table.order_details td.woocommerce-table__product-name li > strong:last-child,
.shop_table.order_details td.woocommerce-table__product-name li > p:last-child {
  padding-bottom: 0;
}
.shop_table.order_details td.woocommerce-table__product-name li > strong {
  padding: 0 10px 0 0;
  clear: left;
}
.shop_table:not(.woocommerce-checkout-review-order-table):not(.order_details):not(.customer_details) tr:last-child td,
.shop_table.woocommerce-checkout-review-order-table .shipping th,
.shop_table.woocommerce-checkout-review-order-table .shipping td,
.shop_table.order_details tfoot tr:nth-child(3) th,
.shop_table.order_details tfoot tr:nth-child(3) td {
  border-bottom-width: 0;
  border-bottom-style: solid;
}
.shop_table .product-remove {
  width: 80px;
  padding-left: 40px;
  padding-right: 30px;
}
.shop_table .product-thumbnail {
  width: 95px;
  padding-left: 0;
  padding-right: 45px;
}
.shop_table .product-thumbnail img {
  width: 50px;
  height: auto;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.shop_table .product-name {
  outline: none;
}
.shop_table .product-price .amount span,
.shop_table .product-subtotal .amount span {
  vertical-align: inherit;
}
.shop_table .amount {
  outline: none;
}
.shop_table .actions {
  padding: 19px 45px 19px 20px;
  text-align: right;
  -webkit-border-radius: 0 0 8px 8px !important;
  border-radius: 0 0 8px 8px !important;
}
.shop_table .actions .coupon {
  position: relative;
  float: left;
}
.shop_table .actions .coupon label {
  display: none;
}
.shop_table .actions .coupon .input-text {
  height: 44px !important;
  vertical-align: bottom;
}
.shop_table .actions .coupon .button {
  vertical-align: bottom;
}
.shop_table .actions .input-text {
  width: 260px;
  margin: 0 14px 0 1px;
}
.cross-sells {
  margin-bottom: 50px;
}
.cross-sells h2 {
  margin-bottom: 0;
}
.cart_totals {
  position: relative;
}
.cart_totals > h2 {
  position: relative;
}
.cart_totals table {
  border-spacing: 0;
  border-collapse: separate;
  width: 50%;
  margin: 0;
  position: relative;
  overflow: hidden;
}
.cart_totals table tr {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.cart_totals table tr:last-child td {
  padding-bottom: 16px;
}
.cart_totals table th,
.cart_totals table td {
  padding: 16px 25px;
  vertical-align: middle;
  position: relative;
  text-align: left;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  overflow: hidden;
}
.cart_totals table th {
  width: 43%;
}
.cart_totals table td {
  width: 57%;
  text-align: right;
}
.cart_totals table tr:last-child th,
.cart_totals table tr:last-child td {
  border-bottom-width: 0;
  border-bottom-style: solid;
}
.cart_totals table input[type="checkbox"],
.cart_totals table input[type="radio"] {
  left: auto;
  right: 0;
  float: right;
}
.cart_totals table input[type="checkbox"] + label,
.cart_totals table input[type="radio"] + label {
  padding-left: 0;
  padding-right: 25px;
  float: right;
}
.cart_totals table input[type="checkbox"] + label:before,
.cart_totals table input[type="radio"] + label:before {
  left: auto;
  right: 0;
}
.cart_totals table input[type="checkbox"] + label:after {
  left: auto;
  right: 3px;
}
.cart_totals table input[type="radio"] + label:after {
  left: auto;
  right: 4px;
}
.woocommerce-MyAccount-navigation {
  margin: 0 0 30px;
}
.woocommerce-MyAccount-navigation > ul {
  margin: 0 -5px;
}
.woocommerce-MyAccount-navigation > ul > li {
  margin: 0 5px 10px;
  position: relative;
  float: left;
}
.woocommerce-MyAccount-navigation > ul > li > a {
  display: inline-block;
  padding: 0 30px;
  position: relative;
  text-align: center;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  border-width: 1px;
  border-style: solid;
}
.woocommerce-MyAccount-content fieldset {
  margin: 35px 2px 10px;
  padding: 20px 0 10px;
}
.woocommerce-MyAccount-content fieldset legend {
  padding: 3px 0;
  margin: 0 1.7%;
}
.woocommerce-MyAccount-content p:not([class]) .button {
  margin: 0 1.7%;
}
.woocommerce-shipping-calculator {
  padding: 20px 0 0;
  position: relative;
  overflow: hidden;
}
.woocommerce-shipping-calculator > p {
  margin: 0;
  padding: 0;
}
.shipping-calculator-form {
  margin: 20px -1.7% 0;
}
.shipping-calculator-form > * {
  width: 96.6%;
  margin: 0 1.7%;
  clear: both;
}
.shipping-calculator-form > p {
  padding: 0 0 10px;
}
.wc-proceed-to-checkout {
  padding: 25px 0 0;
  position: relative;
  overflow: hidden;
}
.wc-proceed-to-checkout .wcppec-checkout-buttons {
  display: inline-block;
  margin: 0;
}
.wc-proceed-to-checkout .wcppec-checkout-buttons .wcppec-checkout-buttons__separator {
  display: inline-block;
  margin: 0 30px;
}
.wc-proceed-to-checkout .wcppec-checkout-buttons .wcppec-checkout-buttons__button {
  margin: 0;
  padding: 0;
}
.wc-proceed-to-checkout .wcppec-checkout-buttons .wcppec-checkout-buttons__button img {
  display: none;
}
.wc-proceed-to-checkout .wcppec-checkout-buttons .wcppec-checkout-buttons__button:before {
  content: '\ebba';
  font-family: fontello;
}
.wc-proceed-to-checkout .wcppec-checkout-buttons .wcppec-checkout-buttons__button:after {
  content: 'Check out with PayPal';
  display: inline-block;
  margin-left: 2px;
}
/*-------------------------------------------------------------------------*/
/* Checkout
/*-------------------------------------------------------------------------*/
.checkout_coupon {
  margin: 0 -1.7% 30px;
  position: relative;
  overflow: hidden;
}
.checkout_coupon p:not([class]) {
  width: 96.6%;
  margin: 0 1.7%;
}
.checkout_coupon input,
.checkout_coupon button[type=submit],
.checkout_coupon input[type=submit] {
  width: 100%;
  max-width: 100%;
}
body .select2-container .select2-choice,
body .select2-container.select2-drop-above .select2-choice {
  padding: 13px 17px;
  border-width: 0;
  border-style: solid;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
body .select2-container.select2-container--open .select2-selection--single,
body .select2-container.select2-container--focus .select2-selection--single {
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
body .select2-container.select2-container--open .select2-dropdown--above {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
body .select2-container.select2-container--open .select2-dropdown--below {
  border-top-width: 1px;
  border-top-style: solid;
}
body .select2-container .select2-selection--single {
  height: 48px;
  padding: 13px 40px 13px 17px;
  background-image: url('../../../../img/select.png');
  background-position: 100% center;
  background-repeat: no-repeat;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
body .select2-container .select2-selection--single .select2-selection__arrow {
  display: none;
}
body .select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 16px;
  padding: 0;
}
body .select2-dropdown {
  -webkit-border-radius: 0;
  border-radius: 0;
}
body .select2-dropdown input:not([type=button]):not([type=checkbox]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=reset]):not([type=submit]):not([type=color]):not([type=range]) {
  border-width: 1px;
  border-style: solid;
}
body .select2-dropdown .select2-results .select2-results__option {
  padding: 6px 6px 6px 18px;
}
body .select2-dropdown .select2-results .select2-results__option:first-child {
  padding: 6px 6px 6px 18px;
}
body .select2-dropdown .select2-results .select2-results__option:before {
  content: none;
}
body .select2-drop.select2-drop-active,
body .select2-drop.select2-drop-above.select2-drop-active {
  border-width: 0;
  border-style: solid;
}
.checkout {
  position: relative;
}
.select2-results li:before {
  content: none;
}
.woocommerce-billing-fields,
.woocommerce-shipping-fields {
  margin: 0 -1.7%;
  position: relative;
  overflow: hidden;
}
.woocommerce-billing-fields:after,
.woocommerce-shipping-fields:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
.woocommerce-billing-fields > h3,
.woocommerce-shipping-fields > h3 {
  margin-left: 1.7%;
  margin-right: 1.7%;
  position: relative;
  overflow: hidden;
}
.woocommerce-billing-fields .shipping_address,
.woocommerce-shipping-fields .shipping_address {
  overflow: hidden;
}
.woocommerce-checkout-payment {
  padding: 25px 30px 35px;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.woocommerce-checkout-payment .payment_methods {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}
.woocommerce-checkout-payment .payment_methods li {
  position: relative;
  overflow: hidden;
}
.woocommerce-checkout-payment .payment_methods li:before {
  content: none;
}
.woocommerce-checkout-payment .payment_methods li.woocommerce-notice {
  margin: 0;
  padding: 0;
}
.woocommerce-checkout-payment .payment_methods label {
  display: inline-block;
  float: none;
}
.woocommerce-checkout-payment .payment_methods label img {
  display: none;
}
.woocommerce-checkout-payment .payment_methods .payment_box {
  margin: 20px 0 10px;
  padding: 23px 20px 23px;
  position: relative;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  clear: both;
}
.woocommerce-checkout-payment .payment_methods .payment_box p {
  margin: 0;
  padding: 0;
}
.woocommerce-checkout-payment .woocommerce-terms-and-conditions-wrapper {
  padding: 30px 0 0;
  position: relative;
  overflow: hidden;
}
.woocommerce-checkout-payment .woocommerce-terms-and-conditions-wrapper > * {
  float: none;
}
.woocommerce-checkout-payment .woocommerce-terms-and-conditions-wrapper .form-row {
  width: auto;
  margin: 10px 0 20px;
  padding: 0;
  direction: rtl;
  overflow: hidden;
}
.woocommerce-checkout-payment .woocommerce-terms-and-conditions-wrapper .form-row > * {
  direction: ltr;
}
.woocommerce-checkout-payment .woocommerce-terms-and-conditions-wrapper .form-row label {
  padding: 0;
  position: relative;
  cursor: pointer;
}
.woocommerce-checkout-payment .woocommerce-terms-and-conditions-wrapper .form-row label .input-checkbox {
  display: none;
}
.woocommerce-checkout-payment .woocommerce-terms-and-conditions-wrapper .form-row label .input-checkbox + span {
  display: inline;
  padding: 0 0 0 25px;
  position: relative;
}
.woocommerce-checkout-payment .woocommerce-terms-and-conditions-wrapper .form-row label .input-checkbox + span:before {
  content: '';
  border-width: 1px;
  border-style: solid;
  width: 17px;
  height: 17px;
  margin: auto !important;
  position: absolute;
  left: 1px;
  right: auto;
  top: 2px;
  bottom: auto;
  -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5);
}
.woocommerce-checkout-payment .woocommerce-terms-and-conditions-wrapper .form-row label .input-checkbox + span:after {
  content: '';
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);
  width: 9px;
  height: 9px;
  margin: auto !important;
  position: absolute;
  left: 5px;
  right: auto;
  top: 6px;
  bottom: auto;
  opacity: 0;
}
.woocommerce-checkout-payment .woocommerce-terms-and-conditions-wrapper .form-row label .input-checkbox:checked + span:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.woocommerce-checkout-payment .woocommerce-terms-and-conditions-wrapper .woocommerce-terms-and-conditions {
  display: block;
  margin-bottom: 20px;
  overflow-x: hidden !important;
  position: relative;
}
.woocommerce-checkout-payment .woocommerce-terms-and-conditions-wrapper .woocommerce-terms-and-conditions .cmsmasters_row_inner {
  width: 100%;
}
.woocommerce-password-strength {
  padding: 20px 0 0;
}
.woocommerce-terms-and-conditions {
  word-wrap: break-word;
  max-width: 100%;
  max-height: none !important;
  overflow: visible !important;
}
/*-------------------------------------------------------------------------*/
/* Order
/*-------------------------------------------------------------------------*/
ul.order_details {
  list-style: none;
  margin: 0 0 35px;
  padding: 0;
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  overflow: hidden;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
ul.order_details li {
  width: 100%;
  margin: 0;
  padding: 17px 15px;
  position: relative;
  overflow: hidden;
}
ul.order_details li:before {
  content: none;
}
ul.order_details li strong {
  display: block;
  margin: 17px -15px -17px;
  padding: 19px 15px;
}
.woocommerce-page.woocommerce-order-received .woocommerce > h2 {
  padding-top: 30px;
  margin: 0 0 25px;
}
/*-------------------------------------------------------------------------*/
/* Dynamic Cart
/*-------------------------------------------------------------------------*/
.cmsmasters_header_cart_link {
  display: none;
}
.cmsmasters_dynamic_cart {
  display: block;
  width: 45px;
  height: 45px;
  position: fixed;
  word-wrap: break-word;
  right: 0;
  top: 230px;
  -webkit-border-radius: 8px 0 0 8px;
  border-radius: 8px 0 0 8px;
}
#page .cmsmasters_dynamic_cart .remove {
  font-size: 18px;
  line-height: 1em;
  background-color: transparent;
  width: 1em;
  height: 1em;
  margin: auto !important;
  position: absolute;
  left: auto;
  right: 0;
  top: 0;
  bottom: 0;
}
.cmsmasters_dynamic_cart .cmsmasters_dynamic_cart_button {
  font-size: 12px;
  line-height: 12px;
  display: block;
  width: 100%;
  height: 100%;
}
.cmsmasters_dynamic_cart .cmsmasters_dynamic_cart_button:before {
  width: 1em;
  height: 1em;
  margin: auto !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.cmsmasters_dynamic_cart .widget_shopping_cart_content {
  width: 310px;
  padding: 25px 0 30px;
  margin: 40px 0 0;
  visibility: hidden;
  position: absolute;
  left: auto;
  right: 0;
  top: 100%;
  z-index: 1000;
  -webkit-border-radius: 8px 0 0 8px;
  border-radius: 8px 0 0 8px;
  opacity: 0 !important;
}
.cmsmasters_dynamic_cart .widget_shopping_cart_content:before {
  content: '';
  display: block;
  width: 100%;
  height: 20px;
  position: absolute;
  left: 0;
  top: -20px;
}
.cmsmasters_dynamic_cart .widget_shopping_cart_content:after {
  content: '';
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  right: 12px;
  top: -10px;
}
.cmsmasters_dynamic_cart .widget_shopping_cart_content .cart_list {
  list-style: none;
  max-height: 280px;
  margin: 0;
  padding: 0 20px 0 25px;
  overflow-x: hidden;
  overflow-y: auto;
}
.cmsmasters_dynamic_cart .widget_shopping_cart_content .cart_list li {
  min-height: 50px;
  margin: 25px 0 0;
  padding: 0 25px 0 65px;
  position: relative;
  overflow: hidden;
}
.cmsmasters_dynamic_cart .widget_shopping_cart_content .cart_list li:before {
  content: none;
}
.cmsmasters_dynamic_cart .widget_shopping_cart_content .cart_list li:first-child {
  margin: 0;
}
.cmsmasters_dynamic_cart .widget_shopping_cart_content .cart_list li:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.cmsmasters_dynamic_cart .widget_shopping_cart_content .cart_list li.empty {
  min-height: 1px;
  padding: 0 25px;
}
.cmsmasters_dynamic_cart .widget_shopping_cart_content .cart_list a {
  display: block;
}
.cmsmasters_dynamic_cart .widget_shopping_cart_content .cart_list img {
  width: 50px;
  height: 50px;
  margin: auto !important;
  position: absolute;
  left: 0;
  right: auto;
  top: 0;
  bottom: auto;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  image-rendering: auto;
}
.cmsmasters_dynamic_cart .widget_shopping_cart_content .cart_list .quantity {
  direction: rtl;
}
.cmsmasters_dynamic_cart .widget_shopping_cart_content .cart_list .quantity * {
  display: inline-block;
  direction: ltr;
}
.cmsmasters_dynamic_cart .widget_shopping_cart_content .cart_list .quantity .amount {
  white-space: nowrap;
}
.cmsmasters_dynamic_cart .widget_shopping_cart_content .total {
  padding: 30px 25px 0;
  position: relative;
  overflow: hidden;
}
.cmsmasters_dynamic_cart .widget_shopping_cart_content .total strong {
  margin: 0 2px 0 0;
}
.cmsmasters_dynamic_cart .widget_shopping_cart_content .buttons {
  margin: 0 -2%;
  padding: 15px 25px 0;
  position: relative;
  overflow: hidden;
}
.cmsmasters_dynamic_cart .widget_shopping_cart_content .buttons .button {
  width: 46%;
  margin: 0 2%;
  padding: 0 25px;
  float: left;
}
.cmsmasters_dynamic_cart .widget_shopping_cart_content .buttons .wcppec-cart-widget-button {
  height: auto;
  width: 100%;
  text-align: center;
  margin-top: 5px;
}
.cmsmasters_dynamic_cart .widget_shopping_cart_content .woocommerce-mini-cart__empty-message {
  padding: 5px 25px 0;
}
.cmsmasters_dynamic_cart:hover .widget_shopping_cart_content,
.cmsmasters_dynamic_cart .cmsmasters_dynamic_cart_button:hover + .widget_shopping_cart_content,
.cmsmasters_dynamic_cart .widget_shopping_cart_content:hover {
  visibility: visible;
  margin-top: 20px;
  opacity: 1 !important;
}
.cmsmasters_added_product_info {
  width: 310px;
  margin: 40px 0 0;
  padding: 15px 25px;
  visibility: hidden;
  position: absolute;
  left: auto;
  right: 0;
  top: 100%;
  z-index: 1001;
  opacity: 0;
  -webkit-border-radius: 8px 0 0 8px;
  border-radius: 8px 0 0 8px;
}
.cmsmasters_added_product_info:after {
  content: '';
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  right: 12px;
  top: -10px;
}
.cmsmasters_added_product_info .cmsmasters_added_product_info_img {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  float: left;
}
.cmsmasters_added_product_info .cmsmasters_added_product_info_text {
  display: block;
  padding: 15px 0 15px 15px;
  overflow: hidden;
}
/*-------------------------------------------------------------------------*/
/* Widgets
/*-------------------------------------------------------------------------*/
.widget.woocommerce > form {
  overflow: visible;
}
.widget.woocommerce > form > * {
  overflow: visible;
}
/***************** Widget Lists ******************/
.widget_rating_filter ul,
.widget_layered_nav ul,
.widget_layered_nav_filters ul,
.widget_product_categories ul {
  margin: 0;
  padding: 0;
}
.widget_rating_filter ul li,
.widget_layered_nav ul li,
.widget_layered_nav_filters ul li,
.widget_product_categories ul li {
  padding: 0;
  border-top-width: 1px;
  border-top-style: solid;
}
.widget_rating_filter ul li:before,
.widget_layered_nav ul li:before,
.widget_layered_nav_filters ul li:before,
.widget_product_categories ul li:before {
  content: none;
}
.widget_rating_filter ul li a,
.widget_layered_nav ul li a,
.widget_layered_nav_filters ul li a,
.widget_product_categories ul li a {
  display: inline-block;
  padding: 8px 0;
}
.widget_rating_filter ul li a:before,
.widget_layered_nav ul li a:before,
.widget_layered_nav_filters ul li a:before,
.widget_product_categories ul li a:before {
  content: '\e888';
  font-family: 'fontello';
  margin: 0 10px 0 0;
  position: relative;
  left: 1px;
}
.widget_rating_filter > ul,
.widget_layered_nav > ul,
.widget_layered_nav_filters > ul,
.widget_product_categories > ul {
  margin: 0 0 -8px;
}
.widget_rating_filter > ul > li:first-child,
.widget_layered_nav > ul > li:first-child,
.widget_layered_nav_filters > ul > li:first-child,
.widget_product_categories > ul > li:first-child {
  border-top-width: 0;
  border-top-style: solid;
}
.widget_rating_filter > ul > li:first-child:first-child > a,
.widget_layered_nav > ul > li:first-child:first-child > a,
.widget_layered_nav_filters > ul > li:first-child:first-child > a,
.widget_product_categories > ul > li:first-child:first-child > a {
  padding: 0 0 8px 0;
}
.widget_rating_filter > ul > li:first-child:first-child:last-child > a,
.widget_layered_nav > ul > li:first-child:first-child:last-child > a,
.widget_layered_nav_filters > ul > li:first-child:first-child:last-child > a,
.widget_product_categories > ul > li:first-child:first-child:last-child > a {
  padding: 0;
}
.widget_rating_filter > ul > li:first-child > ul > li > a,
.widget_layered_nav > ul > li:first-child > ul > li > a,
.widget_layered_nav_filters > ul > li:first-child > ul > li > a,
.widget_product_categories > ul > li:first-child > ul > li > a {
  padding-left: 15px;
}
.widget_rating_filter > ul > li:first-child > ul > li > ul > li > a,
.widget_layered_nav > ul > li:first-child > ul > li > ul > li > a,
.widget_layered_nav_filters > ul > li:first-child > ul > li > ul > li > a,
.widget_product_categories > ul > li:first-child > ul > li > ul > li > a {
  padding-left: 30px;
}
.widget_rating_filter > ul > li:first-child > ul > li > ul > li > ul > li > a,
.widget_layered_nav > ul > li:first-child > ul > li > ul > li > ul > li > a,
.widget_layered_nav_filters > ul > li:first-child > ul > li > ul > li > ul > li > a,
.widget_product_categories > ul > li:first-child > ul > li > ul > li > ul > li > a {
  padding-left: 45px;
}
.widget_rating_filter > ul > li:first-child > ul > li > ul > li > ul > li > ul > li > a,
.widget_layered_nav > ul > li:first-child > ul > li > ul > li > ul > li > ul > li > a,
.widget_layered_nav_filters > ul > li:first-child > ul > li > ul > li > ul > li > ul > li > a,
.widget_product_categories > ul > li:first-child > ul > li > ul > li > ul > li > ul > li > a {
  padding-left: 60px;
}
/***************** Widget Shopping Cart ******************/
.widget_shopping_cart {
  position: relative;
  word-wrap: break-word;
  overflow: hidden;
}
#page .widget_shopping_cart .remove {
  position: absolute;
  left: auto;
  right: 0;
  top: 3px;
}
.widget_shopping_cart .widget_shopping_cart_content {
  position: relative;
  overflow: hidden;
}
.widget_shopping_cart .cart_list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.widget_shopping_cart .cart_list li {
  min-height: 50px;
  margin: 0 0 25px;
  padding: 0 25px 0 65px;
  position: relative;
  overflow: hidden;
}
.widget_shopping_cart .cart_list li:before {
  content: none;
}
.widget_shopping_cart .cart_list li.empty {
  min-height: 1px;
  padding: 7px 35px;
}
.widget_shopping_cart .cart_list a {
  display: block;
}
.widget_shopping_cart .cart_list img {
  width: 50px;
  height: 50px;
  margin: auto !important;
  position: absolute;
  left: 0;
  right: auto;
  top: 0;
  bottom: auto;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  image-rendering: auto;
}
.widget_shopping_cart .cart_list .quantity {
  direction: rtl;
}
.widget_shopping_cart .cart_list .quantity * {
  display: inline-block;
  direction: ltr;
}
.widget_shopping_cart .cart_list .quantity .amount {
  white-space: nowrap;
}
.widget_shopping_cart .total {
  padding: 10px 0 0;
  position: relative;
  overflow: hidden;
}
.widget_shopping_cart .total strong {
  outline: none;
}
.widget_shopping_cart .buttons {
  margin: 0 -2%;
  padding: 15px 0 0;
  position: relative;
  overflow: hidden;
}
.widget_shopping_cart .buttons .button {
  width: 46%;
  margin: 0 2% 5px;
  padding: 0 15px;
  float: left;
}
/***************** Widget Price Filter ******************/
.widget_price_filter .price_slider_wrapper {
  position: relative;
  overflow: hidden;
}
.widget_price_filter .price_slider {
  height: 2px;
  margin: 0 0 5px;
  z-index: 1;
  position: relative;
}
.widget_price_filter .ui-slider-range {
  height: 100%;
  position: absolute;
  top: 0;
}
.widget_price_filter .ui-slider-handle {
  display: block;
  width: 10px;
  height: 10px;
  cursor: pointer;
  position: absolute;
  left: 0;
  right: auto;
  top: -4px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.widget_price_filter .ui-slider-handle:last-child {
  left: 100%;
  margin-left: -10px;
  margin-right: 0;
}
.widget_price_filter .price_slider_amount {
  padding: 30px 0 0;
  position: relative;
  overflow: hidden;
  flex-direction: column-reverse;
  display: flex;
  align-items: baseline;
}
.widget_price_filter .price_slider_amount .button {
  float: right;
}
.widget_price_filter .price_slider_amount .price_label {
  display: block;
  padding: 0 10px 10px 0;
  overflow: hidden;
}
/***************** Widget Product List ******************/
.widget > .product_list_widget {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}
.widget > .product_list_widget li {
  min-height: 50px;
  margin: 0 1px 25px;
  padding: 0 0 0 65px;
  position: relative;
  overflow: hidden;
}
.widget > .product_list_widget li:before {
  content: none;
}
.widget > .product_list_widget a {
  display: block;
  margin: 0 0 1px;
}
.widget > .product_list_widget img {
  width: 50px;
  height: 50px;
  margin: auto !important;
  position: absolute;
  left: 0;
  right: auto;
  top: 0;
  bottom: 0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  image-rendering: auto;
}
.widget > .product_list_widget .star-rating {
  display: none;
}
.widget > .product_list_widget .cmsmasters_star_rating {
  margin: 0 0 3px;
}
.widget > .product_list_widget ins {
  text-decoration: none;
}
.widget > .product_list_widget del {
  margin: 0 3px 0 0;
}
/***************** Widget Product Search ******************/
.widget_product_search {
  position: relative;
}
/***************** Widget Tag Cloud ******************/
.widget_product_tag_cloud {
  position: relative;
}
.widget_product_tag_cloud .tagcloud {
  margin: -10px -5px 0;
}
.widget_product_tag_cloud a {
  font-size: 14px !important;
  line-height: 32px;
  display: inline-block;
  margin: 10px 5px 0;
  padding: 0 20px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
/*-------------------------------------------------------------------------*/
/* Shortcodes
/*-------------------------------------------------------------------------*/
.cmsmasters_products_shortcode,
.cmsmasters_selected_products_shortcode {
  position: relative;
  overflow: hidden;
}
/*	Other Shortcodes */
.create-account .input-radio + label,
.create-account .input-checkbox + label {
  padding: 0 0 0 25px;
}
.create-account > p {
  margin-left: 1.7%;
  margin-right: 1.7%;
}
.login,
.register {
  margin: 0 -1.7%;
  position: relative;
  overflow: hidden;
}
.login:after,
.register:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
.login label.inline,
.register label.inline {
  display: inline-block;
  padding: 0;
  margin-left: 10px;
  margin-right: 0;
}
.login label.inline input,
.register label.inline input {
  vertical-align: middle;
  margin-top: -2px;
}
.login > *,
.register > * {
  width: 96.6%;
  margin-left: 1.7%;
  margin-right: 1.7%;
  overflow: hidden;
}
.login .lost_password,
.register .lost_password {
  clear: both;
}
.track_order {
  margin: 0 -1.7%;
  position: relative;
  overflow: hidden;
}
.track_order:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
.track_order > * {
  margin-left: 1.7%;
  margin-right: 1.7%;
  overflow: hidden;
}
/*-------------------------------------------------------------------------*/
/* CSS3 Animations
/*-------------------------------------------------------------------------*/
html.csstransitions .cmsmasters_products .product.product-category .woocommerce-loop-category__title,
html.csstransitions .cmsmasters_star_rating .cmsmasters_star {
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
html.csstransitions .woocommerce-store-notice a {
  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}
html.csstransitions .cmsmasters_dynamic_cart,
html.csstransitions body .select2-container .select2-selection--single {
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
html.csstransitions .cmsmasters_product {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  -ms-transition: border-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}
html.csstransitions .cmsmasters_dynamic_cart .cmsmasters_dynamic_cart_button,
html.csstransitions .widget_product_tag_cloud a {
  -webkit-transition: background-color .3s ease-in-out, color .3s ease-in-out;
  -moz-transition: background-color .3s ease-in-out, color .3s ease-in-out;
  -ms-transition: background-color .3s ease-in-out, color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out, color .3s ease-in-out;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}
html.csstransitions table.variations .reset_variations,
html.csstransitions .woocommerce-MyAccount-navigation > ul > li > a {
  -webkit-transition: background-color .3s ease-in-out, color .3s ease-in-out, border-color .3s ease-in-out;
  -moz-transition: background-color .3s ease-in-out, color .3s ease-in-out, border-color .3s ease-in-out;
  -ms-transition: background-color .3s ease-in-out, color .3s ease-in-out, border-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out, color .3s ease-in-out, border-color .3s ease-in-out;
  transition: background-color .3s ease-in-out, color .3s ease-in-out, border-color .3s ease-in-out;
}
html.csstransitions .cmsmasters_product .cmsmasters_product_img img {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
html.csstransitions .cmsmasters_product .cmsmasters_product_header,
html.csstransitions .cmsmasters_product .cmsmasters_product_add_wrap {
  -webkit-transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
  -ms-transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
  transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
}
html.csstransitions .cmsmasters_dynamic_cart .widget_shopping_cart_content {
  -webkit-transition: opacity .3s ease-in-out, margin .3s ease-in-out, visibility .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out, margin .3s ease-in-out, visibility .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out, margin .3s ease-in-out, visibility .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out, margin .3s ease-in-out, visibility .3s ease-in-out;
  transition: opacity .3s ease-in-out, margin .3s ease-in-out, visibility .3s ease-in-out;
}
html.csstransitions .shipping_method + label:after,
html.csstransitions .input-radio + label:after,
html.csstransitions .input-checkbox + label:after,
html.csstransitions .form-row label .input-checkbox + span:after {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
